.root {
    position: relative;
}

.image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.prevArrow, .nextArrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
}

.prevArrow {
    left: 16px;
}

.nextArrow {
    right: 16px;
}

.prevArrowVertical, .nextArrowVertical {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.7);
    position: absolute;
    left: 50%;
}

.prevArrowVertical {
    top: 16px;
}

.nextArrowVertical {
    bottom: 16px;
}